@font-face {
    font-family: "MonoRale";
    src: url("assets/fonts/Monorale-Light.woff");
}

@font-face {
    font-family: Caveat;
    src: url("assets/fonts/Caveat-Regular.ttf");
}

@font-face {
    font-family: Raleway;
    src: url("assets/fonts/Raleway-Regular.ttf");
}


* {
    font-family: 'Raleway', sans-serif;
    color: var(--bold-text);
    transition: background-color 0.4s;
}

html {
    margin: 0;
    height: 100%;
    font-size: 175%;
    margin: 0;
    --timer-top: 1rem;
    --bold-text: black;
    --body-bg: white;
    --word-bg: #ffc0cb83;
    --placeholder-color: #808080;
    --missing-word: #ff0000;
    --gameover-bg: #ececec;
    --footer-bg: #ffedf4a6;
    --handle-bg: white;
    --alert-bg: #fd627c;
    --alert-color: #4A4949;
    --coninute-color: #3d3c3c;
    --continue-btn-bg: #ff4362;
    --scroll-track: #f89aa876;
    --scroll-thumb: #ee9ba7;
    --scroll-thumb-hover: #fb7a8d;
    --anchor-color: #551a8b;
    --anchor-color: #f38722;
    --blink-color: #ea7601;
    --gameover-color: var(--placeholder-color);
    overscroll-behavior: none;  /* disable pull-to-refresh */
}

html.dark {
    color-scheme: dark;
    --bold-text: #D3C0C3;
    --body-bg: #4a4949;
    --word-bg: #D2959F;
    --placeholder-color: #949494;
    --missing-word: #ad0101;
    /* change to blue? #00289f */
    --gameover-bg: #6b6969;
    --gameover-color: white;
    --footer-bg: #473336;
    --handle-bg: #D3C0C3;
    /* only for computers */
    --alert-bg: #850a3d;
    --alert-bg-mobile: hsl(340, 55%, 33%);
    /* #702957 */
    ;
    --alert-color: #BFA6AA;
    --continue-color: #BFA6AA;
    --continue-btn-bg: hsl(341 82% 20% / 1);
    --scroll-thumb: #d9a6ae;
    --scroll-thumb-hover: #e795a2d9;
    --scroll-track: #f89aa876;
    --anchor-color: #f38722;
    --blink-color: #ea7601;
}

body {
    margin: 0;
    background-color: var(--body-bg);
    overscroll-behavior: none; /* disable pull-to-refresh */
}

h1 {
    margin-bottom: 0.5rem;
    margin-top: 0.3rem;
    font-size: 2rem;
    font-family: 'Caveat', cursive;
}

p {
    margin-top: 0;
    font-size: 0.8rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

a:not(:visited) {
    color: var(--anchor-color);
}

/* apply only in dark mode becasue I couldn't replicate the light mode */
html.dark input:focus-visible {
    outline: 1px solid var(--bold-text);
}

/* reset button tag styles and makes them similar to div's*/
button {
    display: block;
    appearance: none;
    color: inherit;
    text-transform: none;
    cursor: pointer;
    background-color: transparent;
    padding: 0px;
    border: none;
    font-size: inherit;
}

footer {
    text-align: center;
    font-size: 0.7rem;
    padding: 0.5em;
    margin-top: 1rem;
    width: 100%;
    box-sizing: border-box;
    background: var(--footer-bg);

    /* or maybe - for dark mode 
    background: #bb878fa3;
    color: black; */
}

.number {
    font-family: 'MonoRale';
}

/* dark mode switch styling */
.dark-mode {
    display: flex;
    align-items: center;
    margin-top: var(--timer-top);
    margin-left: 0.5rem;
    gap: 0.3rem;
}

.dark-mode-switch {
    --switch-height: 0.8rem;
    position: relative;
    display: inline-block;
    width: calc(var(--switch-height) * 2.25);
    height: var(--switch-height);
}

.dark-mode-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* the slider body */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
    box-sizing: border-box;
    padding-inline: 3.5%;
    display: flex;
    align-items: center;
    /* dark mode */
    border: 1px rgb(221, 223, 225) solid;
    background-color: #D2959F;
}

/* the handle */
.slider .handle {
    width: calc(0.8 * var(--switch-height));
    /* 80% percent of switch height */
    height: calc(0.8 * var(--switch-height));
    /* 80% percent of switch height */
    -webkit-transition: .4s;
    transition: .4s;
    box-sizing: border-box;
    border-radius: 50%;
    /* dark mode */
    border: 1px #DDDFE1 solid;
    background-color: var(--handle-bg);
}

/* light mode */
input:checked+.slider {
    background-color: white;
    border: 1px var(--bold-text) solid;
}


input:checked+.slider .handle {
    border: 1px var(--bold-text) solid;
    background-color: #ffc0cb83;
    /* margin-left: calc(100% - 5% - 0.6rem); */
    transform: translateX(calc(var(--switch-height) * 1.25));
}

/* SVG styles */
.moon {
    max-width: 1rem;
    aspect-ratio: 41 / 40;
}

.moon-fill {
    stroke: var(--bold-text);
    stroke-width: 1;
    fill: var(--handle-bg);
}

.moon-mask {
    fill: var(--bold-text);
}

.sun {
    max-width: 1.2rem;
    aspect-ratio: 41 / 40;
}

.sun-fill {
    fill: var(--handle-bg);
    /* in dark mode: fill: #D3C0C3; */
}

.sun-stroke {
    stroke: white;
    stroke: var(--bold-text);
}

/* scrollbar styling */
@supports not selector(::-webkit-scrollbar) {
    .scrollStyle {
        scrollbar-color: #e5e5e5 darkgrey;
        scrollbar-width: 11px;
    }
}

.scrollStyle::-webkit-scrollbar {
    width: 10px;
}

.scrollStyle::-webkit-scrollbar-track {
    border-radius: 0.4rem;
    background-color: var(--scroll-track);
}


.scrollStyle::-webkit-scrollbar-thumb {
    background-color: var(--scroll-thumb);
    border-radius: 0.4rem;
    width: 6px;
}

.scrollStyle::-webkit-scrollbar-thumb:hover {
    background-color: var(--scroll-thumb-hover);
}


.guess {
    margin-bottom: 1rem;
    position: sticky;
    top: 1rem;
    left: 1rem;
    padding: 0.1rem 0.3rem;
    border: var(--placeholder-color) 1px solid;
    border-radius: 5px;
    font-size: 1rem;
    background-color: var(--body-bg);
    z-index: 1;
}

.guess::placeholder {
    color: var(--placeholder-color);
}

.lyrics-container {
    columns: 10 6em;
    column-gap: 1.5em;
    width: fit-content;
    margin-left: 0.5em;
    height: auto;
    padding-bottom: 1em;
    margin-right: 0.5em;

}

#lyrics {
    display: contents;
}

.word {
    width: 8.6em;
    height: 1.4em;
    background-color: var(--word-bg);
    border-bottom: black solid 1px;
    color: transparent;
    text-align: center;
    user-select: none;
    margin: 0;
    break-inside: avoid;
    font-size: 70%;
}


.disabled {
    background-color: transparent;
    border: 0.1rem var(--bold-text);
}

.disabled:focus,
.endGame:focus {
    outline: none;
}


.timer {
    position: fixed;
    right: 0.5rem;
    top: var(--timer-top);
    width: fit-content;
    background-color: var(--body-bg);
    border: var(--placeholder-color) 1px solid;
    border-radius: 5px;
    padding: 0.1rem 0.3rem;
    font-weight: 800;
}

.statistic {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    margin-bottom: 0.5rem;
    gap: 1em;
    box-sizing: border-box;
    /* border: 1px gray solid; */
    border-radius: 5px;
    padding: 0.1rem 0.4rem;
    column-span: all;
    cursor: default;
    align-items: flex-end;
}

.flex-btn {
    align-self: center;
    box-sizing: border-box;
    text-align: center;
    border-radius: 1rem;
    border: 1px var(--bold-text) solid;
    cursor: pointer;
}

.question-mark {
    height: 1.2em;
    width: 1.2em;
    margin-left: auto;
    flex-shrink: 0;
}

.give-up {
    padding: 0.3em 0.5em;
    font-size: 0.8em;
    break-inside: avoid;
    display: flex;
    align-items: center;
}

/* pause btn */
.pause {
    --button-width: 0.6rem;
    --padding: calc(var(--button-width) / 2.5);
    position: fixed;
    right: 4.2rem;
    top: calc(var(--timer-top) + (0.5rem - 0.5 * var(--button-width)));
    display: flex;
    width: var(--button-width);
    height: var(--button-width);
    border-radius: 5px;
    padding: 0.2rem var(--padding) 0.2rem var(--padding);
    cursor: pointer;
    background-color: var(--body-bg);
}

.pause .stick {
    border: var(--bold-text) 1px solid;
    height: 100%;
    border-radius: 0.5rem;
    flex: 1 1 1em;
    background-color: var(--body-bg);
}

.pause .divider {
    flex: 1 1 var(--button-width);
}


.black {
    color: black !important;
}

.red {
    color: var(--missing-word);
}

.end-of-time {
    animation: blink-red 1.2s ease-out infinite;
    color: var(--blink-color);
}

@keyframes blink-red {
    0% {
        transform: scale(100%, 100%);
    }

    50% {
        transform: scale(120%, 120%);
    }

    100% {
        transform: scale(100%, 100%);
    }
}

/* pause screen */
.black-screen {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100vh;
    width: 100vw;
    background-color: #0000005f;
    display: none;
}

.alert-wrapper {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 0.3rem;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 26rem;
    min-height: 16rem;
    color: var(--alert-color);
    font-size: 2rem;
    background-color: var(--alert-bg);
    /* preparation for settings screen */
    max-height: 95vh;
    overflow: auto;
}

.alert-wrapper .text {
    color: var(--alert-color);
    font-family: 'Caveat', cursive;
    font-weight: 700;
    text-wrap: balance;
}

.instructions-text {
    font-size: 1.3rem;
    padding: 2em;
}

.pause-screen .text {
    font-size: 1.3em;
}

.exit {
    position: absolute;
    top: 0.7rem;
    left: 0.6rem;
    width: 0.6em;
    height: 0.7em;
    z-index: 2;
    cursor: pointer;
}

.exit::before,
.exit::after {
    content: '';
    width: 16%;
    height: 100%;
    position: absolute;
    background: var(--alert-color);
    border-radius: 6px;
}

.exit::before {
    transform: translate(-50%) rotate(45deg);
}

.exit::after {
    transform: translate(-50%) rotate(-45deg);
}

.continue, .start-over {
    margin-top: max(1.5rem, 8px);
    background-color: #ffffff00;
    border: solid 2px var(--alert-color);
    color: var(--continue-color);
    font-weight: 700;
    padding: 2% 5%;
    border-radius: 0.2rem;
    font-size: 1rem;
    cursor: pointer;
}

.continue {
    background-color: var(--continue-btn-bg);
 }


.restart-icon {
    height: 1em;
    margin-left: 0.3rem;
}


.small-text {
    margin-top: 0.5rem;
    font-size: 0.9rem;
    font-weight: 100;
}

/* mobile styles */
@media screen and (max-width: 760px) {
    html {
        font-size: 165%;
        --timer-top: 0.5rem;
    }

    html.dark {
        --alert-bg: var(--alert-bg-mobile)
    }

    h1 {
        text-align: center;
        font-size: 1.5rem;
        margin-top: 0.5em;
    }

    .alert-wrapper .text.pause-screen {
        font-size: 1.5em;
        margin-bottom: -0.3rem;
    }

    .alert-wrapper {
        font-size: 1.26rem;
        min-width: 85%;
        min-height: 11rem;
        gap: max(8px, 1rem);
    }

     .continue, .start-over {
        min-height: 48px;
        margin: 0;
        border-radius: 0.4rem;
        min-width: 7em;
        font-size: 0.8rem;
     }

     .exit {
        top: 0.5rem;
        left: 0.5rem;
        width: 1rem;
        height: 1rem;
     }
     
    .lyrics-container {
        font-size: 0.9rem;
    }

    .statistic {
        font-size: 0.7rem;
        word-break: keep-all;
        break-inside: avoid;
    }

    #give-up {
        border-radius: 0.7em;
        padding: 0.3em 0.4em;
    }

    .timer-wrapper {
        height: fit-content;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 0.5rem;
        margin-top: var(--timer-top);
        padding-right: 0.5rem;
        box-sizing: border-box;
        /* padding-right: 0.5rem; */
    }

    .timer {
        position: static;
    }

    .pause {
        position: static;
    }

    .dark-mode {
        margin-right: auto;
        margin-top: 0;
        /* width: 5rem; */
    }

    .dark-mode-switch {
        --switch-height: max(0.8rem, 29px);
    }

    .sun,
    .moon,
    .dark-mode-switch {
        flex-shrink: 0;
    }

    .sun,
    .moon {
        max-width: 1.2rem;
    }



    .instructions-text {
        padding: 1.5em;
        font-size: 1rem;
    }

    #guess {
        font-size: 0.8rem;
        left: 0.7rem;
    }

    .end-of-time {
        left: 73vw;
    }


    .restart-icon {
        height: 0.9em;
    }

    .small-text {
        margin-top: 0.5rem;
        font-size: 0.8rem;
        font-weight: 100;
    }
}

.hidden {
    opacity: 0;
}

.endGame {
    background-color: var(--gameover-bg);
    position: relative;
    top: 0;
}

.endGame.guess::placeholder {
    color: var(--gameover-color);
}
